<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/assets/css/style.css">
</head>

<body>

<div id="frame" style="width: 320px;margin: auto;z-index: 99998;height: auto">
          <iframe data-aa='2420055' src='//ad.a-ads.com/2420055/?size=320x100'
                            style='border:0; padding:0; width:320px; height:100px; overflow:hidden;display: block;margin: auto'></iframe>
</div>
<header>
  <h1>{{ site.title }}</h1>
</header>

<div class="container">

  <span class="tag">{{ page.category }}</span>
  <h1>{{ page.title }}</h1>

  <p class="meta">
    {{ page.date | date: "%d %B %Y" }}
  </p>

  <img src="{{ page.image }}">

  {{ content }}

  <a href="/" class="back">← Volver</a>

</div>

</body>
</html>
